body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans Mono", Courier, monospace;
    background-color: #fff;
}

#hero {
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#logo_container {
    background-color: pink;
    display: inline-block;
}

#title {
    color: #000;
    text-align: center;
    font-size: 5rem;
    font-weight: lighter;
    border-right: .25rem solid black;
    overflow: hidden;
    width: 0;
    margin: 0;
    white-space: nowrap;
    animation: 
    typing 2s steps(14, end) forwards,
    blink-caret 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect keyframes */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

#hero button {
    height: 5vh;
    width: 15vw;
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
    border-width: 0px;
    color: white;
    background-color: #31B0FF;
    font-size: 1rem;
    background-image: linear-gradient(to left, #1c25c5 50%, #31B0FF 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
}

#hero button:hover {
    background-position: right;
}

#mission {
    background-color: greenyellow;
    height: 100vh;
}

#mission p {
    color: blueviolet;
    font-size: 3rem;
    margin: 0;
}

#mission img {
    float: left;
}

#sign_in_up {
    background-color: orange;
    height: 100vh;
}

#sign_in_up p {
    color: red;
    margin: 0;
}

#hero, #mission, #sign_in_up, #logo_container {
    background-color: white;
} 